<h1> <%= @employee.full_name %> </h1>

<p>Alias: <%= @employee.alias %> </p>
<p>Title: <%= @employee.title %> </p>
<p>Office: <%= @employee.office %> </p>
<p>Dog: <%= link_to @employee.dog.name, dog_path(@employee.dog) %> </p>

<img src= "<%= @employee.img_url %>" alt="Employee Image">
