<h1> <%= @dog.name %> </h1>
<p> Breed: <%= @dog.breed %> </p>
<p> Age: <%= @dog.age %> </p>
<p> Employees: </p>
<% @dog.employees.each do |employee| %>
    <p><%= employee.first_name %> <%= employee.last_name %></p>
<% end %>